streamlit
python-dotenv

# LangChain / RAG
langchain-openai
langchain-community
langchain-text-splitters
langchain-chroma
langchain-core
chromadb

# PDF loader dependency
pypdf

# Streamlit Cloud fix: avoid protobuf breaking opentelemetry/chromadb imports
protobuf==4.25.3
